$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #0000;
$color-grey-light-1: #f7f7f7;

$color-primary: #051B35;